.Navigation {
  background: var(--surface-200);
  border-top: 1px var(--surface-300);
  padding: 10px;
  display: flex;
  gap: 10px;
}

.Navigation button {
  flex: 1;
  padding: 10px;
  background: var(--surface-300);
  border: 1px var(--surface-400);
  border-radius: 5px;
  font-size: 1.2rem;
  text-transform: capitalize;
}

.Navigation .selected {
  background: var(--primary-300);
  border: 1px var(--primary-400);
}
